<div class="container">
  <main id="content" class="error-container" role="main">
    <div class="row">
      <div class="col-xl-4 col-md-6 col-10 offset-xl-4 offset-md-3 offset-1">
        <div class="error-container">
          <h3 class="error-code">401</h3>
          <p class="error-info">
            No tienes permiso para ver el contenido de esta pagina.
          </p>
          <p class="error-help mb">
            Si esto es un error comunicate con tu administrador.
          </p>
          <form (ngSubmit)="searchResult()">
            <button type="submit"  class="btn btn-inverse">
              <i class="fa fa-chevron-left text-warning ml-xs"></i>&nbsp;&nbsp;&nbsp;&nbsp;Regresar
            </button>
          </form>
        </div>
      </div>
    </div>
  </main>

  <footer class="page-footer">
    2017 &copy; E-healthtracker Team.
  </footer>
</div>
