<div class="js-sidebar-content">
  <header class="logo hidden-sm-down">
  </header>
  <ul class="sidebar-nav">
    <li>
      <a [routerLink]=" ['dashboard'] ">
          <span class="icon">
            <i class="fa fa-desktop"></i>
          </span>
          Personal Administrativo
      </a>
    </li>
    <li>
      <a [routerLink]=" ['person'] ">
          <span class="icon">
            <i class="fa fa-check-square-o"></i>
          </span>
          Agregar persona
      </a>
    </li>
  </ul>
  <h5 class="sidebar-nav-title"></h5>
</div>
